In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,precision_score, recall_score, f1_score, roc_auc_score,roc_curve 
from sklearn.model_selection import RandomizedSearchCV
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [56]:
df = pd.read_csv("/Users/saprativasarkar/Desktop/ML/9_ML_Practicals/Datasets/Travel.csv")
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

##### Data Cleaning and Feature Engineering

In [57]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [58]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [59]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [60]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [61]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')
df['MaritalStatus'] = df['MaritalStatus'].replace('Single', 'Unmarried')

In [62]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [63]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [64]:
#Age
df.Age.fillna(df.Age.median(), inplace=True)
#TypeofContract
df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace=True)
#DurationOfPitch
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)
#NumberOfFollowups
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace=True)
#PreferredPropertyStar
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)
#NumberOfTrips
df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)
#NumberOfChildrenVisiting
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace=True)
#MonthlyIncome
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [65]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [66]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [67]:
df.drop('CustomerID', inplace=True, axis=1)

In [68]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [69]:
df['TotalVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'], axis=1, inplace=True)

In [70]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

##### Train Test Split and Model Training

In [71]:
X = df.drop(['ProdTaken'], axis=1)
y = df['ProdTaken']

In [72]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [73]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape,y_train.shape,y_test.shape

((3910, 17), (978, 17), (3910,), (978,))

In [75]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4888 non-null   float64
 1   TypeofContact           4888 non-null   object
 2   CityTier                4888 non-null   int64
 3   DurationOfPitch         4888 non-null   float64
 4   Occupation              4888 non-null   object
 5   Gender                  4888 non-null   object
 6   NumberOfFollowups       4888 non-null   float64
 7   ProductPitched          4888 non-null   object
 8   PreferredPropertyStar   4888 non-null   float64
 9   MaritalStatus           4888 non-null   object
 10  NumberOfTrips           4888 non-null   float64
 11  Passport                4888 non-null   int64
 12  PitchSatisfactionScore  4888 non-null   int64
 13  OwnCar                  4888 non-null   int64
 14  Designation             4888 non-null   object
 15  MonthlyIncome           4888 non-null   float64
 16  TotalVisiting           4888 non-null   float64
dtypes: float64(7), int64(4), object(6)
memory usage: 649.3+ KB

In [76]:
cat_features = X.select_dtypes(include="object").columns
num_features = X.select_dtypes(exclude="object").columns

In [77]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

In [78]:
preprocessor = ColumnTransformer([("OneHotEncoder", oh_transformer, cat_features),("StandardScaler", numeric_transformer, num_features)])
preprocessor

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')),
                                ('StandardScaler', StandardScaler(),
                                 Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisiting'],
      dtype='object'))])

In [79]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [80]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-1.020350,1.284279,-0.725271,-0.127737,-0.632399,0.679690,0.782966,-0.382245,-0.774151
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.721400,0.690023,0.282777,-0.725271,1.511598,-0.632399,0.679690,0.782966,-0.459799,0.643615
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-1.020350,0.282777,1.771041,0.418708,-0.632399,0.679690,0.782966,-0.245196,-0.065268
3,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,-0.721400,-1.020350,1.284279,-0.725271,-0.127737,-0.632399,1.408395,-1.277194,0.213475,-0.065268
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,2.400396,-1.720227,-0.725271,1.511598,-0.632399,-0.049015,-1.277194,-0.024889,2.061382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-0.653841,1.284279,-0.725271,-0.674182,-0.632399,-1.506426,0.782966,-0.536973,0.643615
3906,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.455047,-0.898180,-0.718725,1.771041,-1.220627,-0.632399,1.408395,0.782966,1.529609,-0.065268
3907,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.455047,1.545210,0.282777,-0.725271,2.058043,-0.632399,-0.777720,0.782966,-0.360576,0.643615
3908,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.455047,1.789549,1.284279,-0.725271,-0.127737,-0.632399,-1.506426,0.782966,-0.252799,0.643615
3909,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-0.776011,0.282777,-0.725271,-1.220627,1.581280,-0.049015,-1.277194,-1.082511,-1.483035

In [81]:
X_test

array([[ 0.        ,  0.        ,  0.        , ..., -1.2771941 ,
        -0.73751038, -0.77415132],
       [ 1.        ,  0.        ,  0.        , ..., -1.2771941 ,
        -0.6704111 , -0.06526803],
       [ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.4208322 , -0.77415132],
       ...,
       [ 0.        ,  1.        ,  0.        , ...,  0.78296635,
         0.69001249,  0.64361526],
       [ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.22827818, -0.77415132],
       [ 1.        ,  1.        ,  0.        , ...,  0.78296635,
        -0.44611323,  2.06138184]])

In [82]:
models={
    "Gradient Boost":GradientBoostingClassifier(),
    "XGBoost":XGBClassifier()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Training set performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred) # Calculate Accuracy
    model_train_f1 = f1_score(y_train, y_train_pred, average='weighted') # Calculate F1-score
    model_train_precision = precision_score(y_train, y_train_pred) # Calculate Precision
    model_train_recall = recall_score(y_train, y_train_pred) # Calculate Recall
    model_train_rocauc_score = roc_auc_score(y_train, y_train_pred)


    # Test set performance
    model_test_accuracy = accuracy_score(y_test, y_test_pred) # Calculate Accuracy
    model_test_f1 = f1_score(y_test, y_test_pred, average='weighted') # Calculate F1-score
    model_test_precision = precision_score(y_test, y_test_pred) # Calculate Precision
    model_test_recall = recall_score(y_test, y_test_pred) # Calculate Recall
    model_test_rocauc_score = roc_auc_score(y_test, y_test_pred) #Calculate Roc


    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Accuracy: {:.4f}".format(model_train_accuracy))
    print('- F1 score: {:.4f}'.format(model_train_f1))
    
    print('- Precision: {:.4f}'.format(model_train_precision))
    print('- Recall: {:.4f}'.format(model_train_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_train_rocauc_score))

    
    
    print('----------------------------------')
    
    print('Model performance for Test set')
    print('- Accuracy: {:.4f}'.format(model_test_accuracy))
    print('- F1 score: {:.4f}'.format(model_test_f1))
    print('- Precision: {:.4f}'.format(model_test_precision))
    print('- Recall: {:.4f}'.format(model_test_recall))
    print('- Roc Auc Score: {:.4f}'.format(model_test_rocauc_score))

    
    print('='*35)
    print('\n')

Gradient Boost
Model performance for Training set
- Accuracy: 0.8939
- F1 score: 0.8819
- Precision: 0.8756
- Recall: 0.5021
- Roc Auc Score: 0.7429
----------------------------------
Model performance for Test set
- Accuracy: 0.8589
- F1 score: 0.8398
- Precision: 0.7732
- Recall: 0.3927
- Roc Auc Score: 0.6824
===================================


XGBoost
Model performance for Training set
- Accuracy: 0.9992
- F1 score: 0.9992
- Precision: 1.0000
- Recall: 0.9959
- Roc Auc Score: 0.9979
----------------------------------
Model performance for Test set
- Accuracy: 0.9356
- F1 score: 0.9318
- Precision: 0.9507
- Recall: 0.7068
- Roc Auc Score: 0.8490
===================================

In [83]:
gradient_params={"loss": ['log_loss','exponential'],
                "criterion": ['friedman_mse','squared_error'],
                "min_samples_split": [2, 8, 15], # The minimum number of samples required to split an internal node:
                "n_estimators": [100,150], # The number of trees in the ensemble
                "max_depth": [5, 8,10] # The maximum depth of the individual regression estimators
                }
xgboost_params = {"learning_rate": [0.1, 0.01],
                  "max_depth": [5, 8, 12],
                  "n_estimators": [100,150]
                }

In [84]:
randomcv_models = [
    ("GradientBoost", GradientBoostingClassifier(), gradient_params),
    ("XGBoost", XGBClassifier(), xgboost_params)]
randomcv_models

[('GradientBoost',
  GradientBoostingClassifier(),
  {'loss': ['log_loss', 'exponential'],
   'criterion': ['friedman_mse', 'squared_error'],
   'min_samples_split': [2, 8, 15],
   'n_estimators': [100, 150],
   'max_depth': [5, 8, 10]}),
 ('XGBoost',
  XGBClassifier(base_score=None, booster=None, callbacks=None,
                colsample_bylevel=None, colsample_bynode=None,
                colsample_bytree=None, device=None, early_stopping_rounds=None,
                enable_categorical=False, eval_metric=None, feature_types=None,
                feature_weights=None, gamma=None, grow_policy=None,
                importance_type=None, interaction_constraints=None,
                learning_rate=None, max_bin=None, max_cat_threshold=None,
                max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
                max_leaves=None, min_child_weight=None, missing=nan,
                monotone_constraints=None, multi_strategy=None, n_estimators=None,
                n_jobs=None, num_parallel_tree=None, ...),
  {'learning_rate': [0.1, 0.01],
   'max_depth': [5, 8, 12],
   'n_estimators': [100, 150]})]

In [85]:
model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 72 candidates, totalling 216 fits
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=150; total time=   1.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=150; total time=   1.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=150; total time=   1.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=150; total time=   1.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=150; total time=   1.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=150; total time=   1.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=150; total time=   1.3s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=150; total time=   1.6s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=150; total time=   1.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=100; total time=   2.0s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=100; total time=   2.0s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=100; total time=   2.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=100; total time=   1.3s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=100; total time=   1.4s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=150; total time=   2.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=150; total time=   2.8s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=150; total time=   2.5s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=100; total time=   1.3s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=150; total time=   1.9s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.2s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=150; total time=   1.9s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.3s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.3s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=150; total time=   2.0s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=150; total time=   1.8s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=150; total time=   1.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=150; total time=   1.9s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=100; total time=   2.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=100; total time=   2.0s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=100; total time=   2.2s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=100; total time=   1.8s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=150; total time=   3.2s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=100; total time=   1.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=100; total time=   1.7s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=150; total time=   3.3s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=150; total time=   3.2s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=150; total time=   2.5s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=150; total time=   2.5s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=100; total time=   1.5s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=100; total time=   1.5s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=100; total time=   1.6s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=150; total time=   2.6s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.9s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=2, n_estimators=100; total time=   1.0s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.9s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=150; total time=   2.4s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=2, n_estimators=150; total time=   1.2s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=150; total time=   2.4s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=2, n_estimators=150; total time=   1.1s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=2, n_estimators=150; total time=   1.2s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=150; total time=   2.5s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=15, n_estimators=100; total time=   0.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=15, n_estimators=100; total time=   0.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=15, n_estimators=100; total time=   0.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=8, n_estimators=150; total time=   1.2s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=8, n_estimators=150; total time=   1.2s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=8, n_estimators=150; total time=   1.2s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=15, n_estimators=150; total time=   1.2s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=15, n_estimators=150; total time=   1.2s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=5, min_samples_split=15, n_estimators=150; total time=   1.3s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=2, n_estimators=100; total time=   1.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=2, n_estimators=100; total time=   1.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=2, n_estimators=100; total time=   1.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=8, n_estimators=100; total time=   1.6s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=2, n_estimators=150; total time=   2.4s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=8, n_estimators=100; total time=   1.5s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=2, n_estimators=150; total time=   2.4s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=8, n_estimators=100; total time=   1.3s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=2, n_estimators=150; total time=   2.4s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=8, n_estimators=150; total time=   1.9s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.2s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=8, n_estimators=150; total time=   1.9s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.2s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.2s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=8, n_estimators=150; total time=   1.9s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=15, n_estimators=150; total time=   1.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=15, n_estimators=150; total time=   1.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=8, min_samples_split=15, n_estimators=150; total time=   1.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=2, n_estimators=100; total time=   1.9s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=2, n_estimators=100; total time=   2.0s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=2, n_estimators=100; total time=   2.1s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=8, n_estimators=100; total time=   1.6s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=2, n_estimators=150; total time=   2.9s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=8, n_estimators=100; total time=   1.7s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=2, n_estimators=150; total time=   3.0s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=8, n_estimators=100; total time=   1.6s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=2, n_estimators=150; total time=   3.1s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=8, n_estimators=150; total time=   2.5s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=15, n_estimators=100; total time=   1.5s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=8, n_estimators=150; total time=   2.6s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=15, n_estimators=100; total time=   1.4s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=15, n_estimators=100; total time=   1.5s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=8, n_estimators=150; total time=   2.5s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=15, n_estimators=150; total time=   2.2s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=150; total time=   1.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=15, n_estimators=150; total time=   2.2s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=150; total time=   1.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=2, n_estimators=150; total time=   1.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.7s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=10, min_samples_split=15, n_estimators=150; total time=   2.3s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=100; total time=   0.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=100; total time=   0.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=100; total time=   0.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=150; total time=   1.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=150; total time=   1.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=8, n_estimators=150; total time=   1.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=150; total time=   1.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=150; total time=   1.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=5, min_samples_split=15, n_estimators=150; total time=   1.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=100; total time=   1.3s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=100; total time=   1.3s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=100; total time=   1.4s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=100; total time=   1.4s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=150; total time=   2.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=100; total time=   1.4s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=150; total time=   2.2s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=2, n_estimators=150; total time=   2.3s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=100; total time=   1.5s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=150; total time=   2.0s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.2s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=150; total time=   2.1s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.2s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.2s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=8, n_estimators=150; total time=   1.9s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=150; total time=   1.8s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=150; total time=   1.8s
[CV] END criterion=squared_error, loss=log_loss, max_depth=8, min_samples_split=15, n_estimators=150; total time=   1.9s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=100; total time=   1.9s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=100; total time=   1.9s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=100; total time=   1.9s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=100; total time=   1.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=150; total time=   2.8s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=100; total time=   1.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=100; total time=   1.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=150; total time=   3.0s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=2, n_estimators=150; total time=   3.0s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=150; total time=   2.4s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=100; total time=   1.5s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=150; total time=   2.4s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=100; total time=   1.5s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=100; total time=   1.5s
[CV] END criterion=squared_error, loss=exponential, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.7s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=8, n_estimators=150; total time=   2.5s
[CV] END criterion=squared_error, loss=exponential, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.7s
[CV] END criterion=squared_error, loss=exponential, max_depth=5, min_samples_split=2, n_estimators=100; total time=   0.8s
[CV] END criterion=squared_error, loss=log_loss, max_depth=10, min_samples_split=15, n_estimators=150; total time=   2.3s
[CV] END criterion=squared_error, loss=exponential, max_depth=5, min_samples_split=8, n_estimators=100; total time=   0.7s

In [86]:
# gradient boosting --> 'n_estimators': 150, 'min_samples_split': 15, 'max_depth': 10, 'loss': 'exponential', 'criterion': 'friedman_mse'
# xg boost --> 'n_estimators': 100, 'max_depth': 12, 'learning_rate': 0.1